.quadrado {
    display : inline-block;

    width : 100px;
    height : 100px;

    background-color : red;
    font-size : 25px;
    color : white;
    text-align : center;
    font-family : arial;
    font-weight : bold;
    
    margin : 20px;
    border : 2px solid black;
}

.container {
    /*
    width : 600px;
    height : 150px;
    */
    width : max-content;
    max-width : 600px;
    margin : auto;
    background-color : lightblue;
}

#paragrafos {
    width : 200vw;
}
